&adc1 {
    pinctrl-0 = <&adc1_in0_pa0 &adc1_in4_pa4>;
    pinctrl-names = "default";
    status = "okay";
};

/ {
    flame_sensor: flame_sensor {
        compatible = "gpio-keys";
        label = "Flame Sensor";

        flame_input: flame_input {
            gpios = <&gpioa 10 GPIO_ACTIVE_LOW>;
            label = "Flame Input";
        };
    };
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";

    esp8266 {
		compatible = "espressif,esp-at";
		status = "okay";
	};
};